.App {
  font-family: sans-serif;
  text-align: center;
}

.dropdown-toggle::after {
  content: none;
}

.navbar-brand-text {
  color: white;
}

.dollars_display {
  font-family:
    OCR A Std,
    monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3f3f3f;
  color: aliceblue;
}

.background {
  align-self: center;
  background-color: #3f3f3f;
}

.dollars_display {
  display: flex;
  flex-direction: row;
}

.table {
  width: 400px;
  position: absolute;
  top: 500px;
  left: calc(50vw - 200px);
  z-index: 1;
}

.shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 700px;
  z-index: 3;
  position: relative;
}

.shop {
  width: 150px;
  display: flex;
  flex-direction: column;
  background-color: #198754;
  /* Success color */
  color: black;
  /* White text */
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  /* Add cursor pointer to indicate it's clickable */
  margin-bottom: 20px;
  /* Space between buttons */
}

.shop img {
  width: 50px;
  margin-bottom: 5px;
  /* Adjust spacing between image and text */
}

.shop p {
  margin: 0;
  /* Remove default margin for paragraphs */
}

.monitor {
  width: 355px;
  height: 259px;
  position: absolute;
  top: 160px;
  left: calc(50vw - 140px);
  z-index: 2;
  border: none;
  background-size: cover;
}

#monButton {
  /**background-image: url("https://cdn.discordapp.com/attachments/1263205475894427768/1270068324570763345/Untitled438_20240805131501.png?ex=66b3ac4d&is=66b25acd&hm=6ba66fe5caeb88fcf63e2e41441597c11ceede2ef17e198d24661e0e546e9175&")*/
}